@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


.home {
    box-sizing: border-box;
    overflow: hidden;
}

.center-home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 180px auto 10px;

    /* margin: auto; */
}

.custom-project{
    display: block;
    margin: 180px auto 60px;
}

.custom-resume{
    display: block !important;
    margin: 120px auto 60px;
}

.footer {
    width: 100% !important;
}

.custom-nav {
    background-color: rgb(192, 213, 232) !important;
    font-size: larger;
    font-family: 'Josefin Sans', cursive;
    font-weight: 700;
}

.custdark {
    color: black !important;
}

.focus-color {
    color: #45050C;
}

.icon-color {
    position: relative !important;
    display: inline-block !important;
    color: #45050C;
    text-align: center !important;
    width: 40px !important;
    height: 40px !important;
    font-size: 2em !important;
    transition: 0.5s !important;
    margin: -20px 14px !important;
}

.custom-border{
    border-color: #45050C !important;
}